body {

  font-family: 'Helvetica', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 40px 10%;
  line-height: 1.6;
}

h2 {
  margin-top: 60px;
  font-size: 1.4em;
  color: #555;
}

.entry {
  margin-bottom: 40px;
  opacity: 0.9;
}

.content {
  margin-top: 0.5em;
  white-space: pre-line;
}